:root{
    --logo-color:#000;
    --main-color: #FFF;
    --link-color: #2196F3;
    --back-color: #2F303A;
    --text-color: #757575;
    --title-color: #212121;
    --address-color: rgba(255, 255, 255, 0.60);
    --bgteam-color:#F5F4FA;
}

body{
    font-family: Roboto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline : 1px solid red ;
}
/* секція хедер */

.header {
    background: #FFF;
    padding-bottom: 24px;
    padding-top: 25px;
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-contact {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.header .container {
    display: flex;
    align-items: center;
}

.header-logo {
    color: var(--link-color) ;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
margin-right: 93px;
}
.header-span {
    color: var(--logo-color);
}    

.header-link {
color: var(--title-color);
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;

}

.header-link:hover {
    color: var(--link-color);
}

.header-phone {
    color: var(--text-color);
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;

}


.header-email {
    color: var(--text-color);
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;

}

.header-contact:hover {
    color: var(--link-color);
}

/* секція Банер */

.banner {
    background: var(--back-color);
    padding-bottom: 200px;
    padding-top: 200px;
}


.banner-title{
color: var(--main-color);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 60px;
letter-spacing: 2.64px;
text-transform: uppercase;
width: 696.0px;
margin: auto;
}

.banner-button {
    color: var(--main-color);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.96px;
background-color: var(--link-color);
display: block;
margin: 0 auto;
margin-top: 30px;
padding: 10px 32px;
border-radius: 4px;
}

/* секція воркінг */

.working {
    
    padding-top: 95px;
}

.working-list {
    display: flex;
    gap: 30px;
}

.working-title {
    color: var(--title-color);
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;

}

.working-text {
    color: var(--text-color);
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
width: 270.0px;
margin-top: 10px;
}

/* секція ворк */

.work {
    padding-bottom: 94px;
    padding-top: 94px;
}

.work-title {
    color: var(--title-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;

}

.work-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

/* section Team */

.team {
background: var(--bgteam-color);
    padding-top: 102px;
    padding-bottom: 102px ;
}

.team-title {
color: var(--title-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    padding-bottom: 30px;
    background-color: var(--main-color);
}

.team-image {
    width: 270.0px;

}

.team-caption {
color: var(--title-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
margin-top: 30px;
margin-bottom: 10px;
}

.team-text {
color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;

}

/* section footer */

.footer {
    background: var(--back-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo {
color: var(--link-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;

}

.footer-span {
    color: var(--main-color);
}

.footer-address {
    margin-top: 20px;
}

.footer-list {
    display: flex;
    flex-direction:column ;
    gap: 9px;
}

.footer-link {
    color: var(--address-color);
font-size: 14px;
 font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;

}

.footer-item:first-child {
.footer-link {
color: var(--main-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
    }

}

/* portfolio */

.cart {
    padding-top: 94px;
    padding-bottom: 94px;
}

.cart-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.cart-btn{
    color:var(--title-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.48px;
border-radius: 4px;
background: var(--bgteam-color);
border: none;
padding: 6px 22px;
}

.cart-btn:hover{
    background-color: var(--link-color);
    color: var(--main-color);
}

.cart-elements {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.cart-elem {
    border: 1px solid #EEE;
background: #FFF;
max-width: 370px;
}

.cart-box {
    padding: 20px 24px;
}

.cart-caption {
    color: var(--logo-color);
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 1.08px;
margin-bottom: 4px;
}

.cart-text {
    color: var(--text-color);
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.48px;

}

.box {
    display: flex;
    margin-bottom: 30px;
}

.box:n3 {
    margin-bottom: 94px;
}