:root {
  --logo-color: #000;
  --main-color: #fff;
  --link-color: #2196f3;
  --back-color: #2f303a;
  --text-color: #757575;
  --title-color: #212121;
  --address-color: rgba(255, 255, 255, 0.6);
  --bgteam-color: #f5f4fa;
  --border-color: #ececec;
  --card-border: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
  background-color: var(--main-color);
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid var(--border-color);
  padding: 24px 0 25px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--link-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-right: 93px;
}

.header-span {
  color: var(--logo-color);
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-link {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
}

.header-link:hover,
.header-link:focus {
  color: var(--link-color);
}

.header-icon {
  width: 20.0px;
height: 20.0px;
fill: var(--text-color);

}

.header-contact {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-email,
.header-phone {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
}

.banner {
  background-color: var(--back-color);
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.40),rgba(47, 48, 58, 0.40) ) , url(./img/hero.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-title {
  color: var(--main-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px;
}

.banner-button {
  color: var(--main-color);
  background-color: var(--link-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.working {
  padding: 94px 0;
}

.working-list {
  display: flex;
  gap: 30px;
}

.working-item {
  flex-basis: calc((100% - 90px) / 4);
}

.working-item::before {
    content: "";
    display: block;
    height: 120px;
    width: 270px;
    border-radius: 4px;
background: var(--bgteam-color);
margin-bottom: 30px;
background-image: url(../img/antenna.png);
background-repeat: no-repeat;
background-position: center;
}

.working-item:nth-child(2)::before{
    background-image: url(../img/clock.png);
}

.working-item:nth-child(3)::before{
    background-image: url(../img/diagram.png);
}

.working-item:nth-child(4)::before{
    background-image: url(../img/astronaut.png);
}
.working-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.working-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}

.work {
  padding-bottom: 94px;
}

.work-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  flex-basis: calc((100% - 60px) / 3);
}

.team {
  background-color: var(--bgteam-color);
  padding: 94px 0;
}

.team-title {
    color: var(--title-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--main-color);
  flex-basis: calc((100% - 90px) / 4);
  text-align: center;
  padding-bottom: 30px;
}

.team-caption {
  font-size: 16px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.team-text {
  color: var(--text-color);
  font-size: 16px;
}

.cart {
  padding: 94px 0;
}

.cart-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.cart-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  background-color: var(--bgteam-color);
  cursor: pointer;
}

.cart-btn:hover,
.cart-btn:focus {
  background-color: var(--link-color);
  color: var(--main-color);
}

.cart-elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.cart-elem {
  border: 1px solid var(--card-border);
}

.cart-box {
  padding: 20px 24px;
}

.cart-caption {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 4px;
}

.cart-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
}

.footer {
  background-color: var(--back-color);
  padding: 60px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: var(--link-color);
  display: inline-block;
  margin-bottom: 20px;
}

.footer-span {
  color: var(--main-color);
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-address {
  font-style: normal;
}

.footer-link {
  color: var(--address-color);
  font-size: 14px;
  line-height: 1.71;
}

.footer-link[target="_blank"] {
  color: var(--main-color);
}