@use "../base/variablass" as *;


.banner {
  background-color: $back-color;
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.40),rgba(47, 48, 58, 0.40) ) , url(../img/hero.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  

  &__title {
  color: $main-color;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px;
}

&__button {
  color: $main-color;
  background-color: $link-color;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
}



