@use "../base/variablass" as * ;


.client{
  padding: 94px 0px;

  &__title {
  color: $title-color;
text-align: center;
font-size: 36px;
font-weight: 700;
margin-bottom: 50px;
}

 &__list {
  display: flex;
  gap: 30px;
  justify-content: center;
 }
 
&__link {
  width: 170px;
  height: 92px;
  border: 1px solid $icon-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition-property: border-color  ;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
transition-duration: 250ms ;

&:hover {
 .client__icon{
  fill: $link-color;
 }
  border-color: $link-color;
}

}


&__icon {
  width: 106px;
  height: 60px;
fill: $icon-color;
border-radius: 4px;
transition-property: fill ;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
transition-duration: 250ms ;
}

}






