@use "../base/variablass" as *;

.footer {
  background-color: $back-color;
  padding: 60px 0;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 30px;

    @media (min-width: 1200px) {
      justify-content: space-between;
    }
  }

  &__block {
    text-align: center;

    @media (min-width: 1200px) {
      text-align: start;
    }
  }

  &__join {
    text-align: center;

    @media (min-width: 1200px) {
      text-align: start;
      margin-left: 70px;
      margin-right: auto;
    }
  }

  &__items {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  &__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $black-color;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $link-color;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $main-color;
    transition: fill 0.3s ease;

    .footer__contact:hover & {
      fill: $main-color;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

    @media (min-width: 1200px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__subinput {
    width: 100%;
    max-width: 450px;
    height: 50px;
    border: 1px solid $input-color;
    border-radius: 4px;
    padding-left: 16px;
    background-color: transparent;

    @media (min-width: 1200px) {
      max-width: 358px;
    }
  }

  &__subbtn {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: $link-color;
    box-shadow: 0 4px 4px 0 $link-color;
    color: $main-color;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $link-color, 10%;
    }
  }

  &__subsend {
    width: 24px;
    height: 24px;
    fill: $main-color;
  }
}
