@use "../base/variablass" as * ;

.team {
  background-color: $bgteam-color;
  padding: 94px 0;

  &__title {
    color: $title-color;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
&__list {
  display: flex;
  gap: 30px;
}
&__item {
  background-color: $main-color;
  flex-basis: calc((100% - 90px) / 4);
  text-align: center;
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
background: $main-color;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.20); 
}

&__caption {
  font-size: 16px;
  font-weight: 500;
  margin: 30px 0 10px;
}

  &__items {
  display: flex;
  gap: 10px;
 margin-top: 16px;
justify-content: center;
  }

&__link {
  justify-content: center;
  align-items: center;
  display: flex;
    width: 44.0px;
height: 44.0px;
border-radius: 100%;
transition-property: background-color ;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
transition-duration: 250ms ;

  &:hover{
background-color: $link-color;
}



}



&__icon {
width: 20.0px;
height: 20.0px;
fill: $icon-color;
transition-property: fill ;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
transition-duration: 250ms ;

&:hover{
  fill: $main-color;
}
}






}




