@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
  background-color: var(--main-color);
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --logo-color: #000;
  --main-color: #fff;
  --link-color: #2196f3;
  --back-color: #2f303a;
  --text-color: #757575;
  --title-color: #212121;
  --address-color: rgba(255, 255, 255, 0.6);
  --bgteam-color: #f5f4fa;
  --border-color: #ececec;
  --card-border: #eeeeee;
  --icon-color:#AFB1B8;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
}

.banner {
  background-color: var(--back-color);
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-title {
  color: var(--main-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px;
}

.banner-button {
  color: var(--main-color);
  background-color: var(--link-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.cart {
  padding: 94px 0;
}

.cart-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

/* 1. Анімація для кнопок фільтра */
.cart-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  background-color: var(--bgteam-color);
  cursor: pointer;
  /* Додаємо transition для плавного ефекту при ховері */
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cart-btn:hover,
.cart-btn:focus {
  color: var(--main-color);
  background-color: #2196F3;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

.cart-elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.cart-elem {
  border: 1px solid var(--card-border);
  background: #FFF;
  transition-property: border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cart-elem:hover {
  border-color: #EEE;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
}

.cart-box {
  padding: 20px 24px;
}

.cart-thumb {
  position: relative;
  overflow: hidden;
}

.cart-img {
  display: block;
  width: 100%;
  height: auto;
}

/* 3. Анімація для виїжджаючого оверлею */
.cart-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 49px 24px;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cart-elem:hover .cart-overlay {
  transform: translateY(0);
}

.cart-caption {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 4px;
}

.cart-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
}

.client {
  padding: 94px 0px;
}

.client-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.client-title {
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  border-radius: 4px;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.client-link:hover .client-icon {
  fill: var(--link-color);
}
.client-link:hover {
  border-color: var(--link-color);
}

.client-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer {
  background-color: var(--back-color);
  padding: 60px 0;
}

.join {
  margin-left: 70px;
  margin-right: auto;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: var(--link-color);
  display: inline-block;
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-span {
  color: var(--main-color);
}

.footer-smalltitle {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-address {
  font-style: normal;
}

.footer-link-map {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-link {
  color: var(--address-color);
  font-size: 14px;
  line-height: 1.71;
}

.footer-items {
  gap: 10px;
  display: flex;
}

.footer-contact {
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--main-color);
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-sub-title {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-sub-btn {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.footer-form {
  display: flex;
  gap: 12px;
}

.footer-sub-send {
  width: 24px;
  height: 24px;
  fill: #FFF;
}

.footer-sub-input {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  background-color: transparent;
  padding-left: 16px;
}

.footer-contact:hover {
  background-color: var(--link-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
  padding: 24px 0 25px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--link-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-right: 93px;
}

.header-span {
  color: var(--logo-color);
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-item {
  position: relative;
}

.header-link {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.header-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  position: absolute;
  top: 46px;
  left: 0;
  opacity: 0;
}

.header-link:hover::after {
  opacity: 1;
}

.header-link:hover,
.header-link:focus {
  color: var(--link-color);
}

.header-icon {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.header-contact {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-email,
.header-phone {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.header-phone:hover {
  color: var(--link-color);
}
.header-phone:hover .header-icon {
  fill: var(--link-color);
}

.header-email:hover {
  color: var(--link-color);
}
.header-email:hover .header-icon {
  fill: var(--link-color);
}

.overlay-text {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.model {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 40px 40px;
}

.model-close:hover .model-x {
  fill: #2196F3;
}

.model-close {
  fill: #FFF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

.model-lb {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  display: block;
  margin-bottom: 4px;
  position: relative;
}

.model-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border: none;
  display: block;
  padding-left: 42px;
}

.model-input:hover {
  outline: 1px solid #2196F3;
}

.model-input:hover + .model-lb-svg {
  fill: #2196F3;
}

.model-x {
  width: 25px;
  height: 25px;
  fill: #000;
}

.model-lb-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  fill: #212121;
  top: 25px;
  left: 10px;
}

.model-title {
  color: #212121;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.model-lb-tex {
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  display: block;
  margin-bottom: 4px;
}

.model-tex {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
}

.model-check {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.model-text {
  margin-left: 4px;
  margin-right: 2px;
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.model-link {
  color: #2196F3;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.model-send {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border: none;
  background-color: #2196F3;
  padding: 10px 52px;
}

.model-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.team {
  background-color: var(--bgteam-color);
  padding: 94px 0;
}

.team-title {
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-items {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  justify-content: center;
}

.team-link:hover {
  background-color: var(--link-color);
}
.team-link:hover .team-icon {
  fill: var(--main-color);
}

.team-link {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.team-item {
  background-color: var(--main-color);
  flex-basis: calc((100% - 90px) / 4);
  text-align: center;
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  background: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.team-caption {
  font-size: 16px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.team-text {
  color: var(--text-color);
  font-size: 16px;
}

.work {
  padding-bottom: 94px;
}

.work-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.work-item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
  display: flex;
}

.work-image {
  display: block;
  width: 100%;
  height: auto;
}

.work-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.working {
  padding: 94px 0;
}

.working-list {
  display: flex;
  gap: 30px;
}

.working-item {
  flex-basis: calc((100% - 90px) / 4);
}

.working-item::before {
  content: "";
  display: block;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  background: var(--bgteam-color);
  margin-bottom: 30px;
  background-image: url(../img/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
}

.working-item:nth-child(2)::before {
  background-image: url(../img/clock.png);
}

.working-item:nth-child(3)::before {
  background-image: url(../img/diagram.png);
}

.working-item:nth-child(4)::before {
  background-image: url(../img/astronaut.png);
}

.working-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.working-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}/*# sourceMappingURL=main.css.map */