:root {
  --logo-color: #000;
  --main-color: #fff;
  --link-color: #2196f3;
  --back-color: #2f303a;
  --text-color: #757575;
  --title-color: #212121;
  --address-color: rgba(255, 255, 255, 0.6);
  --bgteam-color: #f5f4fa;
  --border-color: #ececec;
  --card-border: #eeeeee;
  --icon-color:#AFB1B8;
}